# Model checkpoints
models/*.ckpt
*.ckpt
*.tar
*.mag

# Audio files
output/**/*.wav
data/**/*.wav
*.wav
*.mid

# Python environment
magenta_env/
venv/
magenta/
data/
output/
models/
node_modules/
venv37/


# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
